h1 {
  margin: 0;
}

.big-heading {
  font-family: Verdana;
}

.section-heading {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.nav__list {
  list-style-type: none;
  float: right;
}

.nav__list-item {
  display: inline-block;
  color: white;
}
.nav__list-item > a {
  color: black;
  font-size: 1.2rem;
}
.page {
  display: flex;
  flex-direction: column;
  background-image: url("./hero.jpg");
}

.page__header {
  /*background-color: aqua; */
}
.page__content {
  /*background-color: beige; */
  display: flex;
}

.left-content {
  /*background-color: burlywood; */
  display: flex;
  flex-direction: column;
  font-size: 3rem;
  color: white;
}
.left-content a {
  color: black;
}
.right-content {
  /*background-color: burlywood; */
}

.main-content {
  display: flex;
  flex-direction: column;
  /*background-color: aliceblue; */
}

.main-content__section {
  /* background-color: rgb(255, 173, 173); */
}
